*{
	margin:0;
	padding:0;
}
body{
    overflow-x: hidden;
}
@font-face {
  font-family: Pacifico;
  src: url("../fonts/Pacifico-Regular.woff"),
   url("../fonts/Pacifico-Regular.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.preloader{
	position: relative;
    overflow-x: hidden;
}
.overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #222;
    z-index: 9;
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pink-dot {
    color: #f0394d;
}
.pink-heart {
    color: #f0394d;
    font-size: 18px;
    position: relative;
    z-index: 3;
}
.yellow-color {
    color:yellow;
}
p {
    font-family: 'Arvo', serif;
    font-size: 15px;
    line-height: 26px;
}
.slider1{
	background-image: url("../images/slider1-desk.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 110vh;
}

.slider2{
	background-image: url("../images/slider2-desk.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 110vh;
}

.slider3{
	background-image: url("../images/slider3-desk.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 110vh;
}

.owl-nav{
	position: absolute;
    top: 45%;
    font-size: 50px;
    width: 100%;
    display: none;
}
.owl-next{
	float: right;
}
.date-section{
	z-index: 1;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#save-the-date {
    font-family: 'Pacifico', cursive;
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    padding-right: 50px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 700;
}
#the-date{
    font-size: 62px;
}
#save{
    font-size: 75px;
    line-height: 50px;
}
#date {
    font-size: 47px;
    line-height: 40px;
}
.banner-text.light {
    color: #FFF;
    border-top: medium double #fff;
    border-bottom: medium double #fff;
    margin-top: 15%;
 }
 .banner-text {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.section-title{
	text-align: center;
}
.section-title .blurb{
   width: 80%;
   margin: auto;
   padding-bottom: 2%;
} 

.her-sec {
    position: relative;
    width: 90%;
    margin: auto;
}
.her-sec .content-sec {
    border: 2px solid#fff;
    height: 95%;
    position: absolute;
    width: 95%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.her-sec img {
    width: 100%;
}
.name{
    font-weight: 700;
    font-size: 15px;
}
.her-sec .name{
    position: absolute;
    text-align: center;
    margin: auto;
    width: 100%;
    bottom: 50px;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
}

#couple-photo{
	margin-top: 8%;
    margin-bottom: 8%;
}
#countdown-banner{
	background-image: url("../images/countdown.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	text-align: center;
}
.banner-text  h4{
	margin: 5px;
}
.wedding-section-title h1{
    font-family: 'Pacifico';
}
.blurb{
    font-size: 30px;
    font-weight: 700;
    font-family: cursive;
    margin: 50px 0 50px 0;
    text-decoration: underline;
    padding-bottom: 10px;
}
#counting-down {
    text-align: center;
    color: #FFF;
    font-family: 'Pacifico';
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    padding-right: 30px;
    margin-top: 0px;
    margin-bottom: 25px;
}
#counting {
    font-size: 65px;
    line-height: 50px;
}
#down {
    font-size: 55px;
    line-height: 65px;
}
#heart-divider {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#countdowns {
    display: flex;
    justify-content: space-evenly;
    font-size: 45px;
    font-family:'Arvo', serif;
    font-weight: 700;
    color: #fff;
    margin-top: 5%;
}
#countdowns span{
  color:yellow;
  margin-left: 10px;
}
.map{
    width: 100%;
    height: 500px;
    margin-top: 20px;
}
#wedding-location{
    margin-top: 10%;
    margin-bottom: 10%;
}
#thankyou-banner{
    background-image: url("../images/thankyou.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#thank-you {
    color: #000;
    font-family: 'Pacifico';
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    padding-right: 30px;
    margin-top: 40px;
    margin-bottom: 25px;
}
#thank {
    font-size: 55px;
    line-height: 45px;
}
#you {
    font-size: 55px;
    line-height: 45px;
}
#footer-couple-name {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #000;
    letter-spacing: 3px;
    margin-top: 3%;
    font-weight: 700;
}
.name-section{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  font-weight: 700;
  margin: 2%;
}
.toolbar{
    visibility: hidden;
}
@media only screen and (max-width: 600px){
	.slider1{
	background-image: url("../images/slider1-mob.png");
	background-size: cover;
    height: 80vh;
   }
   .slider2{
	background-image: url("../images/slider2-mob.png");
	background-size: cover;
    height: 80vh;
   }
   .slider3{
	background-image: url("../images/slider3-mob.png");
	background-size: cover;
    height: 80vh;
   }
   #save {
    font-size: 60px;
    line-height: 35px;
   }
   #the-date {
    font-size: 50px;
    white-space: nowrap;
   }
   #date {
    font-size: 40px;
    line-height: 25px;
    white-space: nowrap;
   }
    .banner-text.light{
   	padding-top: 10px;
    font-family: 'Oswald';
    white-space: nowrap;

   }
   .section-title .blurb{
     width: 100%;
    }
    #countdowns{
    display: grid;
    font-family: 'Arvo';
    letter-spacing: 5px;
    }
    .map{
    height: 300px !important;
   }
   #countdown-banner{
    height: auto;
    margin-bottom: 2%;
    padding-bottom: 10%;
   }
   .date-section{
    top: 60%;
   }/*
   #couple-photo{
    margin-top: -25%;
   }*/
   .blurb{
    font-size: 20px;
   }
  }

@media only screen and (max-width: 390px){
   .slider2,.slider3,.slider1{
    height: 100vh;
   } 
  }